@model IEnumerable<Dominio.Models.Periodista>
<h1>Listado de periodistas</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                    <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Apellido
                </td>
                <td>
                    @item.Email
                </td>

                <td>
                    @Html.ActionLink("Ver reseñas", "VerReseniasDeP", "Resenia", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
